{% extends "base.html" %}

{% block title %}About - ImageUpload{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h1 class="mb-4">About ImageUpload</h1>
        <p>ImageUpload is a platform where you can share your favorite images with the world.</p>
        <p>Our mission is to provide a simple and secure way to upload and manage your photos.</p>
        
        <h2 class="mt-5">Features</h2>
        <ul>
            <li>Secure user accounts</li>
            <li>Easy image uploading</li>
            <li>Beautiful gallery display</li>
            <li>Responsive design</li>
        </ul>
    </div>
</div>
{% endblock %}